body {
 background-color:#202020;
}

div.top {
 position:static;
 padding:5px;
 margin-bottom:20px;
 background-color:#404040;
}

div.main {
 position:static;
 border:2px solid #808080;
 border-radius:10px;
 padding:20px;
 margin-right:100px;
 margin-left:100px;
 background-color:#404040;
}

h1 {
 text-align:center;
 color:#E0E0E0;
}

h2 {
 color:#E0E0E0;
}

h3 {
 color:#E0E0E0;
}

h4 {
 text-indent:10px;
 color:#E0E0E0;
}

h5 {
 color:#E0E0E0;
}

h6 {
 color:#E0E0E0;
}

p {
 text-indent:10px;
 color:#E0E0E0;
}

p.link {
 text-indent:20px;
 color:#E0E0E0;
}

a {
 color:#E0E0E0;
}

hr {
 color:#E0E0E0;
}